In [28]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [53]:
pagos_efect_2 = "BasePagos_Efectividades_20240823_Contrato.xlsx"
df_pagos_2 = pd.read_excel(pagos_efect_2, sheet_name="BD")

In [42]:
pagos_efect = "BasePagos_Efectividades_20240731_Contrato.xlsx"
df_pagos = pd.read_excel(pagos_efect, sheet_name="BD")

In [55]:
df_pagos_test = df_pagos.copy()
print(df_pagos_test.shape)
print(df_pagos_test.dtypes)
df_pagos_test.head(3)

(237104, 99)
fecha                    int64
periodo                  int64
dia                      int64
Dia_Util                 int64
codcent                  int64
                        ...
CLASIF_ANT             float64
AMBITO_RCD              object
SEGMENTO_RIESGO         object
RANGO_CAPITAL_SOLES     object
ENTIDAD_KST             object
Length: 99, dtype: object

,fecha,periodo,dia,Dia_Util,codcent,clave,Agencia,CodAgenciaDist,foco,contrato,...,Ticket_prom_pago,GASTO_MENSUAL,PROV_ACTUAL,AHORRO,AMBITO,CLASIF_ANT,AMBITO_RCD,SEGMENTO_RIESGO,RANGO_CAPITAL_SOLES,ENTIDAD_KST
0,20240731,202407,31,22,28009053,KSTBC,ASESCOM RJ,80,NaN,110010659600027826,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTRO,"D.>50,000",BC
1,20240731,202407,31,22,26970240,KSTBC,ASESCOM RJ,80,NaN,110814199600812206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTRO,B.>5000,EXJ
2,20240731,202407,31,22,26761542,KSTBC,ASESCOM RJ,80,NaN,110704439601914985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OTRO,A.<5000,EXJ

In [56]:
df_pagos_test.columns

Index(['fecha', 'periodo', 'dia', 'Dia_Util', 'codcent', 'clave', 'Agencia',
       'CodAgenciaDist', 'foco', 'contrato', 'META', 'flag_exclusion_findemes',
       'oficina', 'MaxDA', 'NUM', 'CapitalSoles', 'PagoTotalSoles',
       'PagoTotalDistribuida', 'PagoEfectTotalSoles',
       'PagoEfectTotalSolesAgencia', 'PagoEfectTotalSolesAgenciaCont', 'tramo',
       'desc_tramo', 'Gestionado_Total', 'Gestionado_Total_SinDiscador',
       'Directo_Total', 'Indirecto_Total', 'NoContacto_Total', 'PDP_Total',
       'Gestionado_call', 'Gestionado_call_SinDiscador', 'Contacto_Call',
       'Directo_Call', 'Indirecto_Call', 'NoContacto_Call', 'PDP_Call',
       'Gestionado_Campo', 'Contacto_Campo', 'Directo_Campo',
       'Indirecto_Campo', 'NoContacto_Campo', 'PDP_Campo', 'PDPCumplida',
       'GestIndirectaPositiva', 'GestIndirecta', 'GestDirectaPositiva',
       'ClienteAlDia', 'Gestionado2_Total', 'Gestionado2_Total_SinDiscador',
       'Directo2_Total', 'Directo3_Total', 'Indirecto2_Total',
       'Indirecto3_Total', 'NoContacto2_Total', 'NoContacto3_Total',
       'PDP2_Total', 'PDPCumplida_Total', 'Gestionado2_Call',
       'Gestionado2_Call_SinDiscador', 'Contacto2_Call', 'Directo2_Call',
       'Directo3_Call', 'Indirecto2_Call', 'Indirecto3_Call',
       'NoContacto2_Call', 'NoContacto3_Call', 'PDP2_Call', 'PDPCumplida_Call',
       'Gestionado2_Campo', 'Contacto2_Campo', 'Directo2_Campo',
       'Directo3_Campo', 'Indirecto2_Campo', 'Indirecto3_Campo',
       'NoContacto2_Campo', 'NoContacto3_Campo', 'PDP2_Campo',
       'PDPCumplida_Campo', 'Flag_Capital', 'segmento', 'ZONA', 'Efectividad',
       'Cobertura', 'Intensidad', 'PDP', 'PDP_Cumplida', 'Tasa_Cierre',
       'Contacto_Efectivo', 'Contacto_Total', 'Ticket_prom_pago',
       'GASTO_MENSUAL', 'PROV_ACTUAL', 'AHORRO', 'AMBITO', 'CLASIF_ANT',
       'AMBITO_RCD', 'SEGMENTO_RIESGO', 'RANGO_CAPITAL_SOLES', 'ENTIDAD_KST'],
      dtype='object')

In [44]:
cols =  ["fecha", "periodo", "dia", "Dia_Util", "codcent", "contrato", "clave", "CapitalSoles", "PagoTotalSoles", "PagoEfectTotalSoles", "PagoEfectTotalSolesAgencia", "PagoEfectTotalSolesAgenciaCont", "Agencia", "desc_tramo", "foco", , "reactiva"]
df_pagos_test = df_pagos_test[cols]
print(df_pagos_test.shape)

(237104, 15)

In [45]:
df_pagos_test = df_pagos_test[df_pagos_test["PagoEfectTotalSolesAgenciaCont"]!=0]
print(df_pagos_test.shape)

(6812, 15)

In [46]:
df_pagos_test.value_counts("desc_tramo")

desc_tramo
< 01 aÃ±o             2944
De 90 a 180 dias     2263
< 02 aÃ±os             912
> 03 aÃ±os             341
< 03 aÃ±os             232
De 181 a 365 dias     112
> 365 dias              8
Name: count, dtype: int64

In [47]:
def marca_kst(row):
    if row["clave"] == "KSTBC":
        if row["desc_tramo"] in ["< 01 aÃ±o", "De 90 a 180 dias", "< 02 aÃ±os"]:
            return "KSTBC"
        else:
            return "KSTBC_2"
    return ""

df_pagos_test["MARCA KST"] = df_pagos_test.apply(marca_kst, axis=1)
df_pagos_test.value_counts("MARCA KST")

MARCA KST
KSTBC      3499
           2747
KSTBC_2     566
Name: count, dtype: int64

In [48]:
df_pagos_test.dtypes

fecha                               int64
periodo                             int64
dia                                 int64
Dia_Util                            int64
codcent                             int64
contrato                            int64
clave                              object
CapitalSoles                      float64
PagoTotalSoles                    float64
PagoEfectTotalSoles               float64
PagoEfectTotalSolesAgencia        float64
PagoEfectTotalSolesAgenciaCont    float64
Agencia                            object
desc_tramo                         object
foco                               object
MARCA KST                          object
dtype: object

In [49]:
df_pagos_test["codcent"] = df_pagos_test["codcent"].astype(str)
df_pagos_test["contrato"] = df_pagos_test["contrato"].astype(str).str.zfill(20)
df_pagos_test["cont_18"] = df_pagos_test["contrato"].apply(lambda x: x[:8] + x[-10:])

In [50]:
df_pagos_test.head(3)

,fecha,periodo,dia,Dia_Util,codcent,contrato,clave,CapitalSoles,PagoTotalSoles,PagoEfectTotalSoles,PagoEfectTotalSolesAgencia,PagoEfectTotalSolesAgenciaCont,Agencia,desc_tramo,foco,MARCA KST,cont_18
4,20240731,202407,31,22,21561480,00110504895001812973,KSTBC,3367.33,1280.0,1280.0,1280.0,1280.0,MORNESE MORA,< 01 aÃ±o,NaN,KSTBC,001105045001812973
95,20240731,202407,31,22,26674575,00110215159600366307,EXJ,25170.04,20000.0,20000.0,20000.0,20000.0,ASESCOM RJ,De 90 a 180 dias,NaN,,001102159600366307
104,20240731,202407,31,22,25379627,00110504815002406731,KSTBC,998.31,300.0,300.0,300.0,300.0,MORNESE MORA,< 01 aÃ±o,NaN,KSTBC,001105045002406731

In [51]:
cols =  ["fecha", "periodo", "dia", "Dia_Util", "codcent", "contrato", "cont_18", "clave", "CapitalSoles", "PagoTotalSoles", "PagoEfectTotalSoles", "PagoEfectTotalSolesAgencia", "PagoEfectTotalSolesAgenciaCont", "Agencia", "foco", "MARCA KST", "reactiva"]
df_pagos_test = df_pagos_test[cols]
print(df_pagos_test.shape)

(6812, 16)

In [52]:
df_pagos_test.to_excel("JULIO31.xlsx", index=False)