In [144]:
import pandas as pd
import openpyxl
import os

In [145]:
base_pagos_path = "Base Pagos 09.08.2024.xlsx"
asignacion_path = "C:/Users/p042833/Documents/Mirko/AGENCIAS/Asignación/2024.08/base_asignacion_20240805.xlsx"

In [146]:
df_base = pd.read_excel(base_pagos_path)
print(df_base.shape)
print(df_base.dtypes)
df_base.head()

(313, 9)
Entidad         int64
FECHA          object
CODCEN          int64
CLAVSERV        int64
CENTROPAGO      int64
IMPORTE       float64
MONEDA         object
NOMBRE         object
ESTADO         object
dtype: object

,Entidad,FECHA,CODCEN,CLAVSERV,CENTROPAGO,IMPORTE,MONEDA,NOMBRE,ESTADO
0,11,2024-08-09,26875010,248,321,1739.35,PEN,FRANK CHRISTIAN PONCE DE DE LA ROSA,P
1,11,2024-08-09,30196919,248,304,600.00,PEN,TERESA DIAZ FLORES...,P
2,11,2024-08-09,21169611,248,301,1050.00,PEN,PILAR GRANDEZ BANDA,P
3,11,2024-08-09,21283469,248,245,5999.70,PEN,0245-5000790162 / CC21283469,P
4,11,2024-08-09,24551295,248,245,1190.71,PEN,0245-5000716035 /CC24551295,P

In [147]:
df_base['CODCEN'] = df_base['CODCEN'].astype(str).str.replace(' ', '').str.replace(r'\D', '', regex=True).str[-8:]
df_base['CODCEN'] = df_base['CODCEN'].str.zfill(8)
df_base['CODCEN'] = df_base['CODCEN'].astype(int)

In [148]:
df_base.isnull().sum()

Entidad       0
FECHA         0
CODCEN        0
CLAVSERV      0
CENTROPAGO    0
IMPORTE       0
MONEDA        0
NOMBRE        0
ESTADO        2
dtype: int64

In [151]:
df_asignacion = pd.read_excel(asignacion_path, sheet_name="CONSOLIDADO")
print(df_asignacion.shape)
print(df_asignacion.dtypes)
df_asignacion.head()

(242511, 40)
codigo                        int64
contrato                      int64
cont_18                       int64
nombre                       object
clave                        object
producto                     object
DiasVenc                      int64
moneda                       object
capital                     float64
liqtotal                    float64
agencia                      object
Camp                        float64
Gestor                       object
numdoc                       object
oficina                      object
territorio                   object
Tramo                        object
codoficina                    int64
CAPITAL_SOLES               float64
IMP_CAMPAÑA                 float64
TIPO_FONDO                   object
FLAG_HONRADO                  int64
TIPO_CARTERA                 object
DESC_TRAMO                   object
Hibrido                      object
ESTUDIO ABOGADO              object
FECHA_MORA                   object
ID_CASTIGO                   object
ID_VTA.                      object
ID_GARANT                    object
ID_CONDONACION MORA_TEMP     object
ID_FRACCIONADO               object
ID_KOBSA_P.CANCELACION       object
ID_REPORTE_CANC              object
ID_CARTERA                   object
ID_FLAG                       int64
OBSERVACION                  object
AGENCIA CORRECTA             object
PAG LEGAL                    object
PAG. INTER                   object
dtype: object

,codigo,contrato,cont_18,nombre,clave,producto,DiasVenc,moneda,capital,liqtotal,...,ID_CONDONACION MORA_TEMP,ID_FRACCIONADO,ID_KOBSA_P.CANCELACION,ID_REPORTE_CANC,ID_CARTERA,ID_FLAG,OBSERVACION,AGENCIA CORRECTA,PAG LEGAL,PAG. INTER
0,23493072,110005669600047145,1100059600047145,ROSEMARY HERNANDEZ DIAZ,BC,PRÉSTAMOS COMERCIALES,838,PEN,4557.98,16173.88,...,-,-,-,-,STOCK,4,-,CLASA MORA,-,-
1,28140429,110010635000478837,1100105000478837,CLAUDIO ROJAS ANDRADA,BC,TARJETAS PYMES,246,PEN,89330.16,133945.59,...,-,1,-,-,STOCK,1,-,CLASA MORA,-,-
2,30739481,110010629600055161,1100109600055161,DINA CHOQUE FERNANDEZ,BC,PRÉSTAMOS PYMES,257,PEN,76663.97,108418.69,...,-,-,-,-,STOCK,2,PAGO LEGAL AGOSTO,MORNESE MORA,1,-
3,30739481,110010619600057679,1100109600057679,DINA CHOQUE FERNANDEZ,BC,PRÉSTAMOS PYMES,268,PEN,177075.30,256680.65,...,-,-,-,-,STOCK,2,PAGO LEGAL AGOSTO,MORNESE MORA,1,-
4,21874900,110050295000360222,1100505000360222,JULIA ANGELICA SOTO COTRINA,BC,TARJETAS PYMES,307,PEN,23986.04,36966.81,...,-,-,-,-,STOCK,4,PAGO INTERBANCARIO,ASESCOM RJ,-,1

In [ ]:
###############################################################################################################################################################

In [152]:
df_mono = df_base.copy()
print(df_mono.shape)

(313, 9)

In [153]:
df_asignacion_test = df_asignacion.copy()
print(df_asignacion_test.shape)

(242511, 40)

In [154]:
df_mono = df_mono.merge(df_asignacion_test[['codigo', 'ID_FLAG', 'cont_18', 'TIPO_CARTERA', 'TIPO_FONDO']], left_on='CODCEN', right_on='codigo', how='left')
df_mono = df_mono.drop(columns=['codigo'])
df_mono = df_mono.rename(columns={'ID_FLAG': 'FLAG', 'cont_18': 'CONTRATO'})
print(df_mono.shape)
df_mono.head()

(352, 13)

,Entidad,FECHA,CODCEN,CLAVSERV,CENTROPAGO,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,TIPO_CARTERA,TIPO_FONDO
0,11,2024-08-09,26875010,248,321,1739.35,PEN,FRANK CHRISTIAN PONCE DE DE LA ROSA,P,1.0,1.103215e+15,UNSECURED,NaN
1,11,2024-08-09,30196919,248,304,600.00,PEN,TERESA DIAZ FLORES...,P,1.0,1.103050e+15,UNSECURED,NaN
2,11,2024-08-09,21169611,248,301,1050.00,PEN,PILAR GRANDEZ BANDA,P,1.0,1.107855e+15,UNSECURED,NaN
3,11,2024-08-09,21283469,248,245,5999.70,PEN,0245-5000790162 / CC21283469,P,1.0,1.102455e+15,UNSECURED,NaN
4,11,2024-08-09,24551295,248,245,1190.71,PEN,0245-5000716035 /CC24551295,P,1.0,1.102455e+15,UNSECURED,NaN

In [155]:
df_mono["FLAG"] = df_mono["FLAG"].astype("Int64")
df_mono["CONTRATO"] = df_mono["CONTRATO"].astype("Int64")
df_mono.dtypes

Entidad           int64
FECHA            object
CODCEN            int64
CLAVSERV          int64
CENTROPAGO        int64
IMPORTE         float64
MONEDA           object
NOMBRE           object
ESTADO           object
FLAG              Int64
CONTRATO          Int64
TIPO_CARTERA     object
TIPO_FONDO       object
dtype: object

In [156]:
df_multi = df_mono[df_mono["FLAG"] > 1].copy()
print(df_multi.shape)
df_multi.head()

(75, 13)

,Entidad,FECHA,CODCEN,CLAVSERV,CENTROPAGO,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,TIPO_CARTERA,TIPO_FONDO
11,11,2024-08-09,21248595,248,140,3000.0,PEN,RENSERCO COURIER SAC,P,2,1101909600246544,UNSECURED,REACTIVA
12,11,2024-08-09,21248595,248,140,3000.0,PEN,RENSERCO COURIER SAC,P,2,1101909600244827,UNSECURED,REACTIVA
38,11,2024-08-09,22914580,248,142,1000.0,PEN,ARGOS CONSULTING GROUP SAC 1588,P,2,1101065000681588,UNSECURED,NaN
39,11,2024-08-09,22914580,248,142,1000.0,PEN,ARGOS CONSULTING GROUP SAC 1588,P,2,1101069600200589,UNSECURED,NaN
41,11,2024-08-09,22914580,248,142,1000.0,PEN,ARGOS CONSULTING GROUP SAC 0589,P,2,1101065000681588,UNSECURED,NaN

In [157]:
df_mono = df_mono[df_mono["FLAG"] == 1]
print(df_mono.shape)
df_mono.head()

(268, 13)

,Entidad,FECHA,CODCEN,CLAVSERV,CENTROPAGO,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,TIPO_CARTERA,TIPO_FONDO
0,11,2024-08-09,26875010,248,321,1739.35,PEN,FRANK CHRISTIAN PONCE DE DE LA ROSA,P,1,1103215002467272,UNSECURED,NaN
1,11,2024-08-09,30196919,248,304,600.00,PEN,TERESA DIAZ FLORES...,P,1,1103049600361686,UNSECURED,NaN
2,11,2024-08-09,21169611,248,301,1050.00,PEN,PILAR GRANDEZ BANDA,P,1,1107855003939651,UNSECURED,NaN
3,11,2024-08-09,21283469,248,245,5999.70,PEN,0245-5000790162 / CC21283469,P,1,1102455000790162,UNSECURED,NaN
4,11,2024-08-09,24551295,248,245,1190.71,PEN,0245-5000716035 /CC24551295,P,1,1102455000716035,UNSECURED,NaN

In [158]:
df_mono.fillna({"TIPO_CARTERA": "NULL"}, inplace=True)
df_mono["TIPO_CARTERA"].value_counts()

TIPO_CARTERA
UNSECURED    264
SECURED        4
Name: count, dtype: int64

In [159]:
df_mono.fillna({"TIPO_FONDO": "NULL"}, inplace=True)
df_mono["TIPO_FONDO"].value_counts()

TIPO_FONDO
NULL        266
REACTIVA      2
Name: count, dtype: int64

In [160]:
df_mono[["TIPO_CARTERA", "TIPO_FONDO"]].value_counts()

TIPO_CARTERA  TIPO_FONDO
UNSECURED     NULL          262
SECURED       NULL            4
UNSECURED     REACTIVA        2
Name: count, dtype: int64

In [161]:
df_mono = df_mono[df_mono["TIPO_CARTERA"] == "UNSECURED"]
df_mono = df_mono[df_mono["TIPO_FONDO"] == "NULL"]
print(df_mono.shape)

(262, 13)

In [162]:
# quiero quedarme con los duplicados nada mas
df_mono_dupli = df_mono[df_mono.duplicated(subset=["CONTRATO"], keep=False)]
df_mono_dupli.shape

(8, 13)

In [163]:
df_mono_dupli.to_excel("MONOPRODUCTO_DUPLICADOS.xlsx", index=False)
os.startfile("MONOPRODUCTO_DUPLICADOS.xlsx")

In [164]:
df_mono.to_excel("MONOPRODUCTO.xlsx", index=False)
os.startfile("MONOPRODUCTO.xlsx")