In [21]:
import pandas as pd
import os

In [120]:
base_pagos_path = "Base Pagos 15.08.2024.xlsx"
asignacion_path = "base_asignacion_20240809.xlsx"
monoproducto = "monoproducto/MONOPRODUCTO.xlsx"
multiproducto = "multiproducto/MULTIPRODUCTO.xlsx"
reactiva = "reactiva/REACTIVA.xlsx"

In [71]:
df_base = pd.read_excel(base_pagos_path)
print(df_base.shape)
print(df_base.dtypes)
df_base.head()

(256, 9)
Entidad         int64
FECHA          object
CODCEN          int64
CLAVSERV        int64
CENTROPAGO      int64
IMPORTE       float64
MONEDA         object
NOMBRE         object
ESTADO         object
dtype: object

,Entidad,FECHA,CODCEN,CLAVSERV,CENTROPAGO,IMPORTE,MONEDA,NOMBRE,ESTADO
0,11,2024-08-15,4319346,248,427,5000.0,PEN,PRESTAMO EMPRESA,P
1,11,2024-08-15,5432758,248,111,1120.0,PEN,PEDRO MARTIN MENESES MARI･O,P
2,11,2024-08-15,8644500,248,135,500.0,PEN,LOPEZ MIRANDA LOURDES,P
3,11,2024-08-15,8644500,248,135,500.0,PEN,"LOPEZ MIRANDA LOURDES,",P
4,11,2024-08-15,8755639,248,267,276.0,PEN,LIQUIDACION DE TARJETA DE CREDITO,P

In [72]:
df_base['FECHA_ENVIO'] = pd.to_datetime('today').strftime('%d-%b')
df_base['ID_RESPONSABLE'] = 'MIV'

cols_base = ['FECHA', 'CODCEN', 'CLAVSERV', 'IMPORTE', 'MONEDA', 'NOMBRE', 'ESTADO', 'FECHA_ENVIO', 'ID_RESPONSABLE']
df_base = df_base[cols_base]
df_base = df_base.rename(columns={'CODCEN': 'CC'})

df_base['CC'] = df_base['CC'].astype("Int64").astype(str).str.zfill(8)
df_base['CC'] = df_base['CC'].str.replace(' ', '').str.replace(r'\D', '', regex=True).str[-8:]
df_base['CC'] = df_base['CC'].str.zfill(8)

df_base['CLAVSERV'] = df_base["CLAVSERV"].astype(str).str.zfill(5)

print(df_base.shape)
print(df_base.dtypes)
df_base.head()

(256, 9)
FECHA              object
CC                 object
CLAVSERV           object
IMPORTE           float64
MONEDA             object
NOMBRE             object
ESTADO             object
FECHA_ENVIO        object
ID_RESPONSABLE     object
dtype: object

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FECHA_ENVIO,ID_RESPONSABLE
0,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,21-Aug,MIV
1,2024-08-15,05432758,00248,1120.0,PEN,PEDRO MARTIN MENESES MARI･O,P,21-Aug,MIV
2,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,21-Aug,MIV
3,2024-08-15,08644500,00248,500.0,PEN,"LOPEZ MIRANDA LOURDES,",P,21-Aug,MIV
4,2024-08-15,08755639,00248,276.0,PEN,LIQUIDACION DE TARJETA DE CREDITO,P,21-Aug,MIV

In [73]:
df_base.isnull().sum()

FECHA             0
CC                0
CLAVSERV          0
IMPORTE           0
MONEDA            0
NOMBRE            0
ESTADO            0
FECHA_ENVIO       0
ID_RESPONSABLE    0
dtype: int64

In [48]:
###############################################################################################################################################################

In [42]:
df_asignacion = pd.read_excel(asignacion_path)
print(df_asignacion.shape)
print(df_asignacion.dtypes)
df_asignacion.head()

(242511, 40)
codigo                        int64
contrato                      int64
cont_18                       int64
nombre                       object
clave                        object
producto                     object
DiasVenc                      int64
moneda                       object
capital                     float64
liqtotal                    float64
agencia                      object
Camp                        float64
Gestor                       object
numdoc                       object
oficina                      object
territorio                   object
Tramo                        object
codoficina                    int64
CAPITAL_SOLES               float64
IMP_CAMPAÑA                 float64
TIPO_FONDO                   object
FLAG_HONRADO                  int64
TIPO_CARTERA                 object
DESC_TRAMO                   object
Hibrido                      object
ESTUDIO ABOGADO              object
FECHA_MORA                   object
ID_CASTIGO                   object
ID_VTA.                      object
ID_GARANT                    object
ID_CONDONACION MORA_TEMP     object
ID_FRACCIONADO               object
ID_KOBSA_P.CANCELACION       object
ID_REPORTE_CANC              object
ID_CARTERA                   object
ID_FLAG                       int64
OBSERVACION                  object
AGENCIA CORRECTA             object
PAG LEGAL                    object
PAG. INTER                   object
dtype: object

,codigo,contrato,cont_18,nombre,clave,producto,DiasVenc,moneda,capital,liqtotal,...,ID_CONDONACION MORA_TEMP,ID_FRACCIONADO,ID_KOBSA_P.CANCELACION,ID_REPORTE_CANC,ID_CARTERA,ID_FLAG,OBSERVACION,AGENCIA CORRECTA,PAG LEGAL,PAG. INTER
0,30739481,110010629600055161,1100109600055161,DINA CHOQUE FERNANDEZ,BC,PRÉSTAMOS PYMES,257,PEN,76663.97,108418.69,...,-,-,-,-,STOCK,2,PAGO LEGAL AGOSTO // SE CORRIGIO,MORNESE MORA,1,-
1,30739481,110010619600057679,1100109600057679,DINA CHOQUE FERNANDEZ,BC,PRÉSTAMOS PYMES,268,PEN,177075.30,256680.65,...,-,-,-,-,STOCK,2,PAGO LEGAL AGOSTO // SE CORRIGIO,MORNESE MORA,1,-
2,21874900,110050295000360222,1100505000360222,JULIA ANGELICA SOTO COTRINA,BC,TARJETAS PYMES,307,PEN,23986.04,36966.81,...,-,-,-,-,STOCK,4,PAGO INTERBANCARIO // SE CORRIGIO,ASESCOM RJ,-,1
3,30293392,110130235002987960,1101305002987960,INNOVA FASHION GROUPSAC,BC,TARJETAS PYMES,215,PEN,142100.58,200698.07,...,-,-,-,-,STOCK,1,PAGO INTERBANCARIO // SE CORRIGIO,CLASA MORA,-,1
4,20687681,110174079600365104,1101749600365104,ELIZABETH HAYDEE CORDOVA AMAYA,BC,PRÉSTAMOS PYMES,356,PEN,200151.61,309435.56,...,-,1,-,-,STOCK,1,MARCA FRACCIONADO RETORNAR AGENCIA // SE CORRIGIO,RodriguezAngobaldo,-,-

In [7]:
###############################################################################################################################################################

In [105]:
df_base_test = df_base.copy()
print("Base", df_base_test.shape)

df_asignacion_test = df_asignacion.copy()
print("Asignacion", df_asignacion_test.shape)

Base (256, 9)
Asignacion (242511, 40)

In [106]:
cols_asignacion = ['codigo', 'ID_FLAG', 'cont_18', 'nombre', 'TIPO_CARTERA', 'TIPO_FONDO', 'clave', 'AGENCIA CORRECTA']

df_asignacion_test['codigo'] = df_asignacion_test['codigo'].astype("Int64").astype(str).str.zfill(8)

df_base_test = df_base_test.merge(df_asignacion_test[cols_asignacion], left_on='CC', right_on='codigo', how='left')
df_base_test = df_base_test.drop(columns=['codigo'])
df_base_test = df_base_test.rename(columns={'ID_FLAG': 'FLAG', 'cont_18': 'CONTRATO', 'nombre': 'NOMBRE_CLIENTE', 'clave': 'CARTERA', 'AGENCIA CORRECTA': 'AGENCIA'})

df_base_test["TIPO_FONDO"] = df_base_test["TIPO_FONDO"].fillna("NULL")
df_base_test["FLAG"] = df_base_test["FLAG"].astype("Int64")
df_base_test["CONTRATO"] = df_base_test["CONTRATO"].apply(lambda x: str(int(x)).zfill(18) if pd.notna(x) else x)

cols_base_test = ['FECHA', 'CC', 'CLAVSERV', 'IMPORTE', 'MONEDA', 'NOMBRE', 'ESTADO', 'FLAG', 'CONTRATO', 'NOMBRE_CLIENTE', 'FECHA_ENVIO', 'ID_RESPONSABLE', 'TIPO_CARTERA', 'TIPO_FONDO', 'CARTERA', 'AGENCIA']
df_base_test = df_base_test[cols_base_test]

print(df_base_test.shape)
df_base_test.head()

(328, 16)

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,NOMBRE_CLIENTE,FECHA_ENVIO,ID_RESPONSABLE,TIPO_CARTERA,TIPO_FONDO,CARTERA,AGENCIA
0,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,2,001102329600474838,HOLIDAY SUITES S A SERVICIOS TURISTICOS,21-Aug,MIV,UNSECURED,REACTIVA,BC,MORNESE MORA
1,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,2,001102329600557083,HOLIDAY SUITES S A SERVICIOS TURISTICOS,21-Aug,MIV,UNSECURED,NULL,BC,MORNESE MORA
2,2024-08-15,05432758,00248,1120.0,PEN,PEDRO MARTIN MENESES MARI･O,P,1,001104085008008493,PEDRO MARTIN MENESES MARIÐO,21-Aug,MIV,UNSECURED,NULL,KSTBC,MORNESE MORA
3,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,2,001108149603309645,LOURDES LOPEZ MIRANDA,21-Aug,MIV,UNSECURED,NULL,EXJ,CLASA MORA
4,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,2,001104085010939356,LOURDES LOPEZ MIRANDA,21-Aug,MIV,UNSECURED,NULL,EXJ,CLASA MORA

In [107]:
df_base_test.dtypes

FECHA              object
CC                 object
CLAVSERV           object
IMPORTE           float64
MONEDA             object
NOMBRE             object
ESTADO             object
FLAG                Int64
CONTRATO           object
NOMBRE_CLIENTE     object
FECHA_ENVIO        object
ID_RESPONSABLE     object
TIPO_CARTERA       object
TIPO_FONDO         object
CARTERA            object
AGENCIA            object
dtype: object

In [46]:
###############################################################################################################################################################

In [115]:
df_mono = df_base_test[df_base_test["FLAG"] == 1]
print(df_mono.shape)
df_mono.head()

(193, 16)

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,NOMBRE_CLIENTE,FECHA_ENVIO,ID_RESPONSABLE,TIPO_CARTERA,TIPO_FONDO,CARTERA,AGENCIA
2,2024-08-15,05432758,00248,1120.0,PEN,PEDRO MARTIN MENESES MARI･O,P,1,001104085008008493,PEDRO MARTIN MENESES MARIÐO,21-Aug,MIV,UNSECURED,NULL,KSTBC,MORNESE MORA
7,2024-08-15,08755639,00248,276.0,PEN,LIQUIDACION DE TARJETA DE CREDITO,P,1,001102675002903614,TEODORO PINGO FIESTAS,21-Aug,MIV,UNSECURED,NULL,EXJ,CLASA MORA
8,2024-08-15,11756743,00248,252.0,PEN,LUCIANA XIMENA ALEMAN CORREA,P,1,001100235000211785,LUCIANA XIMENA ALEMAN CORREA,21-Aug,MIV,UNSECURED,NULL,KSTBC,ASESCOM RJ
12,2024-08-15,20133632,00248,100.0,PEN,"VIVIAN LUISA ELMORE RAMIREZ,,,,",P,1,001103875001753875,VIVIAN LUISA ELMORE RAMIREZ,21-Aug,MIV,UNSECURED,NULL,EXJ,CLASA MORA
15,2024-08-15,20417240,00248,1114.0,PEN,LUZ ELENA PEREYRA AGUIRRE,P,1,001100235000249103,LUZ ELENA PEREYRA AGUIRRE,21-Aug,MIV,UNSECURED,NULL,KSTBC,ASESCOM RJ

In [116]:
df_mono.fillna({"TIPO_CARTERA": "NULL"}, inplace=True)
df_mono["TIPO_CARTERA"].value_counts()

C:\Users\miria\AppData\Local\Temp\ipykernel_19940\3085643346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mono.fillna({"TIPO_CARTERA": "NULL"}, inplace=True)

TIPO_CARTERA
UNSECURED    187
SECURED        5
NULL           1
Name: count, dtype: int64

In [117]:
df_mono.fillna({"TIPO_FONDO": "NULL"}, inplace=True)
df_mono["TIPO_FONDO"].value_counts()

C:\Users\miria\AppData\Local\Temp\ipykernel_19940\923008682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mono.fillna({"TIPO_FONDO": "NULL"}, inplace=True)

TIPO_FONDO
NULL        188
REACTIVA      5
Name: count, dtype: int64

In [118]:
df_mono[["TIPO_CARTERA", "TIPO_FONDO"]].value_counts()

TIPO_CARTERA  TIPO_FONDO
UNSECURED     NULL          183
SECURED       NULL            4
UNSECURED     REACTIVA        4
NULL          NULL            1
SECURED       REACTIVA        1
Name: count, dtype: int64

In [119]:
# MONO REACTIVA
df_reactiva = df_mono[(df_mono["TIPO_CARTERA"] == "UNSECURED") & (df_mono["TIPO_FONDO"] == "REACTIVA")]
print(df_reactiva.shape)
df_reactiva.head()

(4, 16)

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,NOMBRE_CLIENTE,FECHA_ENVIO,ID_RESPONSABLE,TIPO_CARTERA,TIPO_FONDO,CARTERA,AGENCIA
90,2024-08-15,23735101,00248,5000.00,PEN,INGETER EIRL.,P,1,001103169600138419,INGETER E I R L,21-Aug,MIV,UNSECURED,REACTIVA,KSTBC,MORNESE MORA
213,2024-08-15,27692222,00248,500.00,PEN,"EMPAISLA EIRL ,01",P,1,001101279600250750,EMPAISLA EIRL,21-Aug,MIV,UNSECURED,REACTIVA,BC,ASESCOM RJ
247,2024-08-15,28533695,00248,104431.49,PEN,20559561542 GRAFICOS XPRESS EIRL,P,1,001106679600035619,GRAFICOS XPRESS EIRL,21-Aug,MIV,UNSECURED,REACTIVA,BC,ASESCOM RJ
257,2024-08-15,29018290,00248,5000.00,PEN,SERVICIOS GENERALES SUMAGWASI EIRL..,P,1,001103429600094332,SERVICIOS GENERALESSUMAGWASI EIRL,21-Aug,MIV,UNSECURED,REACTIVA,BC,MORNESE MORA

In [121]:
df_reactiva.to_excel(reactiva, index=False)
os.startfile(os.path.abspath(reactiva))

In [112]:
df_mono = df_mono[df_mono["TIPO_CARTERA"] == "UNSECURED"]
df_mono = df_mono[df_mono["TIPO_FONDO"] == "NULL"]
print(df_mono.shape)

(183, 16)

In [113]:
df_mono["CONTRATO"] = df_mono["CONTRATO"].astype(str).str.zfill(18)

In [114]:
df_mono.to_excel(monoproducto, index=False)
os.startfile(os.path.abspath(monoproducto))

In [56]:
###############################################################################################################################################################

In [82]:
df_multi = df_base_test[df_base_test["FLAG"] > 1].copy()
print(df_multi.shape)
df_multi.head()

(129, 16)

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FECHA_ENVIO,ID_RESPONSABLE,FLAG,CONTRATO,NOMBRE_CLIENTE,TIPO_CARTERA,TIPO_FONDO,CARTERA,AGENCIA
0,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,21-Aug,MIV,2,001102329600474838,HOLIDAY SUITES S A SERVICIOS TURISTICOS,UNSECURED,REACTIVA,BC,MORNESE MORA
1,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,21-Aug,MIV,2,001102329600557083,HOLIDAY SUITES S A SERVICIOS TURISTICOS,UNSECURED,NULL,BC,MORNESE MORA
3,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,21-Aug,MIV,2,001108149603309645,LOURDES LOPEZ MIRANDA,UNSECURED,NULL,EXJ,CLASA MORA
4,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,21-Aug,MIV,2,001104085010939356,LOURDES LOPEZ MIRANDA,UNSECURED,NULL,EXJ,CLASA MORA
5,2024-08-15,08644500,00248,500.0,PEN,"LOPEZ MIRANDA LOURDES,",P,21-Aug,MIV,2,001108149603309645,LOURDES LOPEZ MIRANDA,UNSECURED,NULL,EXJ,CLASA MORA

In [83]:
df_multi = df_multi[df_multi["TIPO_CARTERA"] == "UNSECURED"]
df_multi = df_multi[df_multi["MONEDA"] == "PEN"]

df_multi["CONTRATO"] = None
df_multi["TIPO_FONDO"] = None
df_multi["CARTERA"] = None
df_multi = df_multi.drop(columns=['TIPO_CARTERA', 'AGENCIA'])
df_multi = df_multi.drop_duplicates()

cols_multi = ['FECHA', 'CC', 'CLAVSERV', 'IMPORTE', 'MONEDA', 'NOMBRE', 'ESTADO', 'FLAG', 'CONTRATO', 'TIPO_FONDO', 'CARTERA', 'NOMBRE_CLIENTE', 'FECHA_ENVIO', 'ID_RESPONSABLE']
df_multi = df_multi[cols_multi]

print(df_multi.shape)
df_multi.head()

(55, 14)

,FECHA,CC,CLAVSERV,IMPORTE,MONEDA,NOMBRE,ESTADO,FLAG,CONTRATO,TIPO_FONDO,CARTERA,NOMBRE_CLIENTE,FECHA_ENVIO,ID_RESPONSABLE
0,2024-08-15,04319346,00248,5000.0,PEN,PRESTAMO EMPRESA,P,2,None,None,None,HOLIDAY SUITES S A SERVICIOS TURISTICOS,21-Aug,MIV
3,2024-08-15,08644500,00248,500.0,PEN,LOPEZ MIRANDA LOURDES,P,2,None,None,None,LOURDES LOPEZ MIRANDA,21-Aug,MIV
5,2024-08-15,08644500,00248,500.0,PEN,"LOPEZ MIRANDA LOURDES,",P,2,None,None,None,LOURDES LOPEZ MIRANDA,21-Aug,MIV
13,2024-08-15,20416246,00248,2033.0,PEN,WENDY ELISA ESCALANTE VERASTEGUI,P,2,None,None,None,WENDY ELISA ESCALANTE VERASTEGUI,21-Aug,MIV
16,2024-08-15,20587690,00248,7860.0,PEN,PAGO ALBERTY GIANCARLO MARTELL QUISPE.,P,2,None,None,None,ALBERTY GIANCARLO MARTELL QUISPE,21-Aug,MIV

In [84]:
df_multi.to_excel(multiproducto, index=False)
os.startfile(os.path.abspath(multiproducto))